:host {
  display: block;
}
.view_select_main{
  width: 100%;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
.view_select_main:hover>:not(:hover) {
  opacity: .4
}

.view_select_main_opt{
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 4px;
  background: var(--gray-0, #F8F9FA);  
  border: 1px solid var(--gray-4, #CED4DA);
  padding: 0.313rem;
  box-sizing: border-box;
  padding: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_select_main_opt:hover {
  transform: scale(1.1);
}