<section style="padding: 1rem;box-sizing: border-box;">
    <section style="display: flex;flex-direction: row;height: auto;justify-content: space-between;align-items: center;">
        <div style="display: flex;flex-direction: row;width: fit-content;gap: 0.25rem;align-items: center;">
            <img src="../../../assets/Header/Coolview_Header.svg" alt="header" style="height: 2.25rem;" />
            <img src="../../../assets/Header/Coolview_Header_Title.svg" alt="header" style="width:7rem;height: 3rem;" />
        </div>
        <app-graph-view (mensajeEvento)="recibirMensaje($event)" [URL_TELEMETRY_COPY]="URL_TELEMETRY_COPY"></app-graph-view>
    </section>
    <section class="grap_select_main"
        [style.flex-direction]="view_grap_opt == 3 ? 'row' : view_grap_opt == 4 ? 'row': 'column'"
        [style.flex-wrap]="view_grap_opt == 4 ? 'wrap' : ''">
        @if (view_grap_opt == 1 && data_Cooler != null && isLoading == false) {
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)"></app-graph-main>
        }
        @else if(view_grap_opt == 2 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Voltaje'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)"></app-graph-main>
        }
        @else if(view_grap_opt == 3 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 3 ? '50%' : '100%'"
            [selectOptionDefault]="'Temperatura'" [date_select_main]="date" [search_Main]="searchCooler.bind(this)"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 3 ? '50%' : '100%'"
            [selectOptionDefault]="'Voltaje'" [date_select_main]="date" [search_Main]="searchCooler.bind(this)"></app-graph-main>
        }
        @else if(view_grap_opt == 4 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)" [graph_view_opt]="view_grap_opt"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Voltaje'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)" [graph_view_opt]="view_grap_opt"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Aperturas'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)" [graph_view_opt]="view_grap_opt"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Compresor'"
            [date_select_main]="date" [search_Main]="searchCooler.bind(this)" [graph_view_opt]="view_grap_opt"></app-graph-main>
        }
        <!-- @else if(isLoading == false && data_Cooler == null) {
            <div style="width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">Coolview</div>
        } -->
        @else if (data_error != null) {
        <div style="width: 100%;height: 99%;display: flex;align-items: center;justify-content: center;">            
            <!-- <nz-alert nzType="error" nzMessage="No hay suficientes datos para mostrar" nzDescription="Se realizo la consulta exitosamente, pero este enfriador no posee telemetría para mostrar en Coolview" ></nz-alert> -->
            <section style="display: flex;padding: 0.5rem;background: var(--Gray-20, #F1F3F5);border: 1px solid var(--Border-default, #DEE2E6);width: fit-content;height: fit-content;border-radius: var(--Radius-radius-sm, 4px);">
                <h1 style="color: var(--Text-title, #000);font-weight: 600;font-size: 1rem;">No hay suficientes datos para mostrar</h1>
                <p style="color: var(--Text-Gray-default, #868E96);font-weight: 300;font-size: 0.9rem;">Se realizo la consulta exitosamente, pero este enfriador no posee telemetría para mostrar en Coolview</p>
            </section>
        </div>
        }
        @else if (isLoading == true) {
        <div style="width: 100%;height: 99%;display: flex;align-items: center;justify-content: center;">
            <ng-lottie [options]="options" style="width: 10%; height: 10%;" />
        </div>
        }
    </section>
</section>