<section>
    <app-graph-view (mensajeEvento)="recibirMensaje($event)"></app-graph-view>
    <section class="grap_select_main"
        [style.flex-direction]="view_grap_opt == 3 ? 'row' : view_grap_opt == 4 ? 'row': 'column'"
        [style.flex-wrap]="view_grap_opt == 4 ? 'wrap' : ''">
        @if (view_grap_opt == 1 && data_Cooler != null && isLoading == false) {
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date"></app-graph-main>
        }
        @else if(view_grap_opt == 2 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [selectOptionDefault]="'Voltaje'"
            [date_select_main]="date"></app-graph-main>
        }
        @else if(view_grap_opt == 3 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 3 ? '50%' : '100%'"
            [selectOptionDefault]="'Temperatura'" [date_select_main]="date"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 3 ? '50%' : '100%'"
            [selectOptionDefault]="'Voltaje'" [date_select_main]="date"></app-graph-main>
        }
        @else if(view_grap_opt == 4 && isLoading == false){
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Temperatura'"
            [date_select_main]="date"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Voltaje'"
            [date_select_main]="date"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Aperturas'"
            [date_select_main]="date"></app-graph-main>
        <app-graph-main [data]="data_Cooler" [style.width]="view_grap_opt == 4 ? '49.5%' : '100%' "
            [style.min-height]="view_grap_opt == 4 ? '45%' : '100%' " [selectOptionDefault]="'Compresor'"
            [date_select_main]="date"></app-graph-main>
        }
        <!-- @else if(isLoading == false && data_Cooler == null) {
            <div style="width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">Coolview</div>
        } -->
        @else if (data_error != null) {
        <div style="width: 100%;height: 99%;display: flex;align-items: center;justify-content: center;">            
            <nz-alert nzType="error" nzMessage="Error" nzDescription="Error {{data_error.status}} al cargar los datos" ></nz-alert>
        </div>
        }
        @else if (isLoading == true) {
        <div style="width: 100%;height: 99%;display: flex;align-items: center;justify-content: center;">
            <ng-lottie [options]="options" style="width: 20%; height: 20%;" />
        </div>
        }
    </section>
</section>