:host {
  display: block;
}
.grap_select_main {
  width: 100%;
  height: 95dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  padding: 0.5rem;
  box-sizing: border-box;
  scrollbar-width: thin;
}