@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?942oi6');
  src:  url('fonts/icomoon.eot?942oi6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?942oi6') format('truetype'),
    url('fonts/icomoon.woff?942oi6') format('woff'),
    url('fonts/icomoon.svg?942oi6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Servicios:before {
  content: "\e900";
  color: #2393f4;
}
.icon-AltaTemperatura:before {
  content: "\e901";
  color: #fa5252;
}
.icon-EvaporadorBloqueado:before {
  content: "\e902";
  color: #fa5252;
}
.icon-FallaCompresor:before {
  content: "\e903";
  color: #fa5252;
}
.icon-FallaElectrica:before {
  content: "\e904";
  color: #fa5252;
}
.icon-Desconexion:before {
  content: "\e905";
  color: #2393f4;
}
.icon-Reconexion:before {
  content: "\e906";
  color: #2393f4;
}
.icon-background:before {
  content: "\e907";
  color: #e7f5ff;
}
.icon-AlertaAltoVoltage:before {
  content: "\e908";
  color: #e67700;
}
.icon-AlertaBajoVoltage:before {
  content: "\e909";
  color: #e67700;
}
.icon-AlertaCompresor:before {
  content: "\e90a";
  color: #e67700;
}
.icon-AlertaTemperatura:before {
  content: "\e90b";
  color: #e67700;
}
