:host {
  display: block;
}
*{
  width: 100%;
  height: 100%;  
}
.main{
  
  display: flex;
  flex-direction: column;  
  gap: 0.5rem;
}
.select{
  width: 100%;
  height: 10%;
  display: flex;
  background-color: orange;
}
.graphview{
  width: 100%;
  height: 10%;
  display: flex;
  background-color: purple;
}
.graphmain{
  width: 100%;
  height: 80%;
  display: flex;
  background-color: red;  
}