<section>
    <section class="select_select_main">
        <input nz-input placeholder="Ingresa tu Serie/Mac" [(ngModel)]="value" type="" style="height: 2.5rem;width: 30%;" />
        <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" style="height: 2.5rem;"></nz-range-picker>
        <button nz-button nzType="default" style="height: 2.5rem;" (click)="searchCooler()">Buscar</button>
    </section>
    <!-- <section class="view_select_main">
        <div class="view_select_main_opt"><img src="assets/GraphView/opt1.svg" alt="graph_view_option_1"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt2.svg" alt="graph_view_option_2"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt3.svg" alt="graph_view_option_3"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt4.svg" alt="graph_view_option_4"></div>
    </section> -->
    <app-graph-view (mensajeEvento)="recibirMensaje($event)"></app-graph-view>
    <section class="grap_select_main">        
        @if (view_grap_opt == 1) {
            <app-graph-main></app-graph-main>
        }
        @else if(view_grap_opt == 2){
            <app-graph-main></app-graph-main>
            <app-graph-main></app-graph-main>
        }        
        @else if(view_grap_opt == 3){
            <app-graph-main></app-graph-main>
            <app-graph-main></app-graph-main>
        }        
        @else{
            <app-graph-main></app-graph-main>
            <app-graph-main></app-graph-main>
            <app-graph-main></app-graph-main>
            <app-graph-main></app-graph-main>
        }        
    </section>
</section>