<section>
    <section class="select_select_main">
        <input nz-input placeholder="Ingresa tu Serie/Mac" [(ngModel)]="value" type="number"
            style="height: 2.5rem;width: 30%;" />
        <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
            style="height: 2.5rem;"></nz-range-picker>
        <button nz-button nzType="default" style="height: 2.5rem;">Buscar</button>
    </section>
    <section class="view_select_main">
        <div class="view_select_main_opt"><img src="assets/GraphView/opt1.svg" alt="graph_view_option_1"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt2.svg" alt="graph_view_option_2"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt3.svg" alt="graph_view_option_3"></div>
        <div class="view_select_main_opt"><img src="assets/GraphView/opt4.svg" alt="graph_view_option_4"></div>

    </section>
    <section class="grap_select_main">
        <section class="grap_select_main_content">1</section>
        <section class="grap_select_main_content">2</section>
    </section>
</section>