:host {
  display: block;
}
section{
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: aliceblue; */
}
.select_select_main{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  padding: 0 0.5rem;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}
.view_select_main{
  width: 100%;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 0.5rem;  
}
/* Contenedor padre */
.grap_select_main {
  width: 100%;
  height: 100%; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  /* scroll-snap-type: y mandatory; */
  padding: 0.5rem;
  scrollbar-width: thin;
}

/* Secciones hijas */
.grap_select_main_content {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #CED4DA);
  background: var(--gray-0, #F8F9FA);
  scroll-snap-align: start;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.grap_select_main_content_options{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.grap_select_main_content_graph{
  width: 100%;
  height: 90%;
  background-color: red;
}
.view_select_main_opt{
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 4px;
  background: var(--gray-0, #F8F9FA);  
  border: 1px solid var(--gray-4, #CED4DA);
  padding: 0.313rem;
  box-sizing: border-box;
  padding: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  background-color: var(--gray-1, #F1F3F5);
  border-radius: 0.25rem;
}