:host {
  display: block;
}
section{
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: aliceblue;
}
.select_select_main{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  padding: 0 0.5rem;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}
.view_select_main{
  width: 100%;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 0.5rem;  
}
.grap_select_main{
  width: 100%;
  height: 90%;
  background-color: brown;
}
.view_select_main_opt{
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 4px;
  background: var(--gray-0, #F8F9FA);  
  border: 1px solid var(--gray-4, #CED4DA);
  padding: 0.313rem;
  box-sizing: border-box;
  padding: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}